@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(135deg, #0f0f0f 0%, #1a1a1a 50%, #0a0a0a 100%);
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Mentine fundalul fix la scroll */
  color: #f5f5f5; /* Culoarea textului default - un alb mai cald */
}
